# Ignora il file .env
.env

# Ignora il contenuto della cartella /app/result_json
/app/result_json/*

# Escludi tutto nella cartella ma mantieni la cartella stessa
!/app/result_json/.gitkeep

# Ignora file di log
*.log

# Ignora cache di Python
__pycache__/
*.pyc
*.pyo

# Ignora file di database SQLite
*.sqlite
*.db

# Ignora cartelle di ambienti virtuali
venv/
.env/

# Ignora file temporanei dell'editor
*.swp
*.swo
*.bak

