<!DOCTYPE html>
<html lang="it">
<head>
   <meta charset="UTF-8">
   <meta name="All FC Ports" content="width=device-width, initial-scale=1.0">
   <title>All Ports</title>
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="static/css/bootstrap.min.css">
   <link rel="stylesheet" href="static/css/dataTables.bootstrap4.min.css">

   <!-- CSS DataTables Buttons -->
   <link rel="stylesheet" type="text/css" href="static/css/buttons.dataTables.min.css">

   <!-- CSS Custom -->
   <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
   <!-- Sezione Ultimo aggiornamento -->
   <script>
      async function fetchLastUpdate() {
         try {
            const response = await fetch("/api/last-update");
            const data = await response.json();
            document.getElementById("last-update").innerText = data.last_update;
         } catch (error) {
            document.getElementById("last-update").innerText = "Errore nel caricamento.";
         }
      }

      // Chiama la funzione al caricamento della pagina
      fetchLastUpdate();
   </script>

   <div class="container mt-4">
      <button class="column-settings-btn">⚙️ Impostazioni colonne</button>

      <div class="text-center" style="overflow: hidden; width: 100%;">
         <h1 class="display-3 font-weight-bold text-primary rounded shadow-sm shadow d-inline-block"
            style="transition: 0.3s; cursor: pointer; transform-origin: center; text-shadow: 0 0 10px rgba(0,123,255,0.8);"
            onmouseover="this.style.color='#007bff'; this.style.transform='scale(1.05)';"
            onmouseout="this.style.color=''; this.style.transform='scale(1)';">
            🌐 All Ports 🌐
         </h1>
      </div>

      <div class="update-time text-left">
         <strong>Last update:</strong>
         <span id="last-update">Caricamento...</span>
      </div>
	  
      <div id="columnToggleMenu" class="column-toggle-menu"></div>
         <div class="table-container">
            <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
               <thead>
               <tr>
                  <th>ID</th>
                  <th>SWITCH</th>
                  <th>VSWITCH</th>
                  <th>P.IDX</th>
                  <th>S/P</th>
                  <th>SPEED</th>
                  <th>SPEED_SUP</th>
                  <th>CTX</th>
                  <th>CTX_NAME</th>
                  <th>PHY/NPIV</th>
                  <th>STATE</th>
                  <th>STATUS</th>
                  <th>WWPN</th>
                  <th>ALIAS</th>
                  <th>ROLE</th>
                  <th>ZONE</th>
                  <th>NOTE</th>
               </tr>
               <tr>
                  <th><input type="text" class="column-search" placeholder="🔍"></th>
                  <th><input type="text" class="column-search" placeholder="🔍"></th>
                  <th><input type="text" class="column-search" placeholder="🔍"></th>
                  <th><input type="text" class="column-search" placeholder="🔍"></th>
                  <th><input type="text" class="column-search" placeholder="🔍"></th>
                  <th><input type="text" class="column-search" placeholder="🔍"></th>
                  <th><input type="text" class="column-search" placeholder="🔍"></th>
                  <th><input type="text" class="column-search" placeholder="🔍"></th>
                  <th><input type="text" class="column-search" placeholder="🔍"></th>
                  <th><input type="text" class="column-search" placeholder="🔍"></th>
                  <th><input type="text" class="column-search" placeholder="🔍"></th>
                  <th><input type="text" class="column-search" placeholder="🔍"></th>
                  <th><input type="text" class="column-search" placeholder="🔍"></th>
                  <th><input type="text" class="column-search" placeholder="🔍"></th>
                  <th><input type="text" class="column-search" placeholder="🔍"></th>
                  <th><input type="text" class="column-search" placeholder="🔍"></th>
                  <th><input type="text" class="column-search" placeholder="🔍"></th>
               </tr>
            </thead>
         </table>
      </div>
   </div>

   <!-- jQuery e DataTables -->
   <script src="static/js/jquery-3.6.0.min.js"></script>
   <script src="static/js/jquery.dataTables.min.js"></script>
   <script src="static/js/dataTables.bootstrap4.min.js"></script>
   <script src="static/js/dataTables.buttons.min.js"></script>
   <script src="static/js/buttons.colVis.min.js"></script>
   <script src="static/js/buttons.html5.min.js"></script>
   <script src="static/js/jszip.min.js"></script>
   <script src="static/js/vfs_fonts.js"></script>

   <script>
      $(document).ready(function() {
         let columnsConfig = [
            {data: "id", title: "ID"}, {data: "switch", title: "SWITCH"}, {data: "vswitch", title: "VSWITCH"},
            {data: "pidx", title: "P.IDX"}, {data: "sp", title: "S/P"}, {data: "speed", title: "SPEED"},
            {data: "speed_sup", title: "SPEED_SUP"}, {data: "ctx", title: "CTX"}, {data: "ctx_name", title: "CTX_NAME"},
            {data: "pn", title: "PHY/NPIV"}, {data: "state", title: "STATE"}, {data: "status", title: "STATUS"},
            {data: "wwpn", title: "WWPN"}, {data: "alias", title: "ALIAS"}, {data: "role", title: "ROLE"},
            {data: "zone", title: "ZONE", visible: false}, {data: "note", title: "NOTE", visible: false}
         ];

         let table = $('#dataTable').DataTable({
            dom: '<"top d-flex justify-content-between align-items-center"lB>rt<"bottom d-flex justify-content-between align-items-center"ip>',
            buttons: [
               {
                  extend: 'csv',
                  text: '📄 CSV',
                  className: 'btn btn-primary btn-sm',
                  action: function(e, dt, node, config) {
                     exportFilteredData('csv');
                  }
                },
                {
                  extend: 'excel',
                  text: '📊 Excel',
                  className: 'btn btn-primary btn-sm',
                  action: function(e, dt, node, config) {
                     exportFilteredData('excel');
                  }
                }
            ],

            "processing": true,
            "serverSide": true,
            "ajax": "/data",
            "searching": true,
            "pageLength": 50,
            "lengthMenu": [10, 25, 50, 100, 500],
            "autoWidth": false,
            "deferRender": true,
            "scroller": true,
            "scrollCollapse": true,
            "scrollX": false,
            "columns": [{"data": "id"}, {"data": "switch"}, {"data": "vswitch"}, {"data": "pidx"}, {"data": "sp"}, {"data": "speed"}, {"data": "speed_sup"}, {"data": "ctx"}, {"data": "ctx_name"}, {"data": "pn"}, {"data": "state"}, {"data": "status"}, {"data": "wwpn"}, {"data": "alias"}, {"data": "role"}, {"data": "zone", "visible": false}, {"data": "note", "visible": false}],
            "order": [[0, "asc"]]
         });

         $('.column-search').on('input', function () {
             let columnIndex = $(this).parent().index();
             table.column(columnIndex).search(this.value).draw();
         });

         let menu = $("#columnToggleMenu");
         let settingsButton = $(".column-settings-btn");

         // Funzione per aggiornare il menu con i checkbox
         function populateColumnToggleMenu() {
             menu.empty();
             columnsConfig.forEach((col, index) => {
                let checked = table.column(index).visible() ? "checked" : "";
                let checkbox = `<label><input type="checkbox" class="toggle-column" data-column="${index}" ${checked}> ${col.title}</label>`;
                menu.append(checkbox);
             });
         }

         $(document).on("change", ".toggle-column", function() {
            let column = table.column($(this).data("column"));
            column.visible(!column.visible());
         });

         $('.column-settings-btn').click(function(event) {
            populateColumnToggleMenu();
            menu.toggle();
            event.stopPropagation();
         });

         $(document).click(function(event) {
            if (!$(event.target).closest('.column-settings-btn, .column-toggle-menu').length) {
                menu.hide();
            }
         });

         function exportFilteredData(format) {
            let params = new URLSearchParams();
            table.columns().every(function(index) {
                let searchValue = this.search();
                if (searchValue) {
                    params.append(`columns[${index}][search][value]`, searchValue);
                }
            });
            window.location.href = `/api/export?${params.toString()}&format=${format}`;
        }
      });
   </script>
</body>
</html>
